<!DOCTYPE html>
<html lang="zh-tw" style="height: 100%;">

<head>
  <title>{{.Title}}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <meta property="og:title" content="{{.Title}}" />
  <meta property="og:description" content="{{.Title}}" />
  <meta property="og:image" content="/assets/img/logo.png" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="/assets/style/main.css?{{.Time}}">
  {{if .Isindex}}
  <link rel="stylesheet" href="/assets/style/for-index.css?{{.Time}}">
  {{end}}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-dateFormat/1.0/jquery.dateFormat.min.js"></script>
  {{if .IsLogin}}
  <script src="/assets/js/ckeditor/ckeditor.js"></script>
  {{end}}
  <script src="/assets/js/main.js?{{.Time}}"></script>
  <script>
    if (navigator.userAgent.search("Trident") > -1) {
      alert("該網站不不支援 Internet Explorer (IE)，請使用其他瀏覽器瀏覽");
    }
  </script>
</head>

<body>
  <div id="notice"></div>
  <nav>
    <div id="fix-1200">
      <div id="button-less-900px">
        <a href="javascript:void(0);" onclick="openSideBar()"><i class="material-icons">menu</i></a>
      </div>
      <div id="button-over-900px">
        <ul id="nav-routing-wrapper">
          {{if .IsEn}}
          <li id="nav-routing-"><a href="/">Home</a></li>
          <li id="nav-routing-about"><a href="/about">About</a>
          <li id="nav-routing-research"><a href="/research">Research</a></li>
          <li id="nav-routing-development"><a href="/development">Development</a></li>
          <li style="flex-grow:1"></li>
          <li id="nav-language"><a href="javascript:switchLang('zh');">中文</a></li>
          {{else}}
          <li id="nav-routing-"><a href="/">首頁</a></li>
          <li id="nav-routing-news"><a href="/news">最新消息</a></li>
          <li id="nav-routing-about"><a href="/about">關於中心</a>
          <li id="nav-routing-research"><a href="/research">研究成果</a></li>
          <li id="nav-routing-development"><a href="/development">技術研發</a></li>
          <li id="nav-routing-events"><a href="/events">學術活動</a></li>
          <li id="nav-routing-official-document"><a href="/official-document">辦法表格</a></li>
          <li id="nav-routing-official-document"><a href="/ncsu-cloud">C級學校聯合服務</a></li>
          <li style="flex-grow:1"></li>
          <li id="nav-language"><a href="javascript:switchLang('en');">English</a></li>
          {{end}}
          {{if .IsLogin}}
          <li><a href="/manage">管理<span class="arrow-down"></span></a>
            <ul>
              <li><a href="/manage">歡迎</a></li>
              <li><a href="/manage/article">文章管理</a></li>
              <li><a href="/manage/reg">註冊新用戶</a></li>
              <li><a href="/logout">登出</a></li>
            </ul>
          </li>
          {{end}}
        </ul>
      </div>
    </div>
  </nav>
  {{if .Isindex}}
  <div id="banner">
    <div class="banner-over-900px">
      <img src="/assets/img/logo-white.png">
      {{if .IsEn}}
      <h1>Taiwan Information Security Center</h1>
      {{else}}
      <h1>國立中興大學資通安全研究與教學中心</h1>
      <h2>Taiwan Information Security Center</h2>
      {{end}}
    </div>
    <div class="banner-less-900px">
      <img src="/assets/img/logo-white.png">
      <h1>國立中興大學</h1>
      <h1>資通安全研究與教學中心</h1>
      <h2>Taiwan Information Security Center</h2>
    </div>
  </div>
  {{end}}

  {{if .Isindex}}
  <div id="main-for-index">
    {{else}}
    <div id="main">
      {{end}}
      {{.Main}}
    </div>

    <footer>
      <div class="footer-row">
        <div class="footer-col">
          {{if .IsEn}}
          <li><i class="material-icons">open_in_new</i><a target="_blank" href="//www.twisc.org/tw/">TWISC</a></li>
          <li><i class="material-icons">open_in_new</i><a target="_blank" href="//www.twisc.ntust.edu.tw/">TWISC@NTUST</a></li>
          <li><i class="material-icons">open_in_new</i><a target="_blank" href="//twisc.nctu.edu.tw/">TWISC@NYCU</a></li>
          <li><i class="material-icons">open_in_new</i><a target="_blank" href="//www.twisc.ncku.edu.tw/">TWISC@NCKU</a></li>
          <li><i class="material-icons">open_in_new</i><a target="_blank" href="//twisc.ntu.edu.tw/">TWISC@NTU</a></li>
          <li><i class="material-icons">open_in_new</i><a target="_blank" href="//twisc.nsysu.edu.tw/">TWISC@NSYSU</a></li>
          <li><i class="material-icons">open_in_new</i><a target="_blank" href="//twisc.cs.nthu.edu.tw/">TWISC@NTHU</a></li>
          {{else}}
          <li><i class="material-icons">open_in_new</i><a target="_blank" href="//www.twisc.org/tw/">TWISC
              (資通安全研究與教學中心)</a></li>
          <li><i class="material-icons">open_in_new</i><a target="_blank" href="//www.twisc.ntust.edu.tw/">TWISC@NTUST
              (台科大)</a></li>
          <li><i class="material-icons">open_in_new</i><a target="_blank" href="//twisc.nctu.edu.tw/">TWISC@NYCU
              (陽明交通)</a></li>
          <li><i class="material-icons">open_in_new</i><a target="_blank" href="//www.twisc.ncku.edu.tw/">TWISC@NCKU
              (成功大學)</a></li>
          <li><i class="material-icons">open_in_new</i><a target="_blank" href="//twisc.ntu.edu.tw/">TWISC@NTU
              (台灣大學)</a></li>
          <li><i class="material-icons">open_in_new</i><a target="_blank" href="//twisc.nsysu.edu.tw/">TWISC@NSYSU
              (中山大學)</a></li>
          <li><i class="material-icons">open_in_new</i><a target="_blank" href="//twisc.cs.nthu.edu.tw/">TWISC@NTHU
              (清華大學)</a></li>
          {{end}}
        </div>
        <div class="footer-col">
          {{if .IsEn}}
          <li><i class="material-icons">school</i><a target="_blank" href="//www.nchu.edu.tw/">National Chung
              Hsing University</a></li>
          <li><i class="material-icons">map</i><a href="https://goo.gl/maps/o6CdAjuVmixDJHAY6">Room 319, No.145, Xingda Rd., South Dist., Taichung City 402, Taiwan (R.O.C.)</a></li>
          {{else}}
          <li><i class="material-icons">school</i><a target="_blank" href="//www.nchu.edu.tw/">國立中興大學 National Chung
              Hsing University</a></li>
          <li><i class="material-icons">map</i><a href="https://goo.gl/maps/o6CdAjuVmixDJHAY6">402
              台中市南區興大路145號應用科技大樓3樓319室</a></li>
          {{end}}
          <li><i class="material-icons">email</i><a href="mailto:twiscnchu@nchu.edu.tw">twiscnchu@nchu.edu.tw</a></li>
          <li><i class="material-icons">call</i><a href="javascript:void(0);">Tel: (04)22840141#319</a></li>
          <li><i class="material-icons">print</i><a href="javascript:void(0);">Fax: (04)22856203</a></li>
          {{if .IsEn}}
          <li><i class="material-icons">security</i><a target="_blank" href="/privacy-statement">Privacy</a></li>
          {{else}}
          <li><i class="material-icons">security</i><a target="_blank" href="/privacy-statement">隱私權聲明</a></li>
          {{end}}
          {{if .IsLogin}}
          <li><i class="material-icons">manage_accounts</i><a href="/logout">登出</a> | <a href="/login">開發人員</a></li>
          {{else}}
          <li><i class="material-icons">manage_accounts</i><a href="/login">For developer</a></li>
          {{end}}
        </div>
      </div>
      <div style="margin: 0px auto; text-align:center;">
        <p> ── TWISC ✕ NCHU © {{.Year}} ──</p>
      </div>
    </footer>
</body>

</html>