{{if .IsEn}}
<h1>Research Findings</h1>
{{else}}
<h1>研究成果</h1>
{{end}}
<div class="scroll-table">
  <table>
    <thead>
      {{if .IsEn}}
      <tr>
        <th>Date</th>
        <th>Author/Presenter</th>
        <th>Article</th>
        <th>Journal</th>
      </tr>
      {{else}}
      <tr>
        <th>發表日期</th>
        <th>發表人</th>
        <th>名稱</th>
        <th>期刊名稱及期數/出版社</th>
      </tr>
      {{end}}
    </thead>
    <tbody>
      <tr>
        <td>
          2017-05-06
        </td>
        <td>
          Jyun-Yao Huang, <strong>Wei-Chih Hong</strong>, Po-Shin
          Tsai,
          I-En Liao
        </td>
        <td>
          A Model for Aggregation and Filtering on Encrypted XML
          Streams
          in Fog Computing
        </td>
        <td>
          International Journal of Distributed Sensor Networks, Vol.
          13,
          No. 5, pp. 1-14, May 2017
          (SCI)
        </td>
      </tr>
      <tr>
        <td>
          2017-10-03~05
        </td>
        <td>
          Jyun-Yao Huang, Po-Hsin Tsai, and<strong> I-En Liao*</strong>
        </td>
        <td>
          Implementing Publish/Subscribe Pattern for CoAP in Fog
          Computing
          Environment
        </td>
        <td>
          The 8th IEEE Annual Information Technology, Electronics and
          Mobile Communication Conference
        </td>
      </tr>
      <tr>
        <td>
          2018-04-13~17
        </td>
        <td>
          Pin-Han Wang, <strong>I-En Liao*</strong>, Kuo-Fong Kao,
          Jyun-Yao Huang
        </td>
        <td>
          An Intrusion Detection Method Based on Log Sequence
          Clustering
          of Honeypot for Modbus TCP Protocol
        </td>
        <td>
          IEEE International Conference on Applied System Innovation
          2018
        </td>
      </tr>
      <tr>
        <td>
          2018-04-13~17
        </td>
        <td>
          Shao-Yu Peng,<strong> Wei-Chih Hong*</strong>, Jun-Ting Li,
          Sheng-Jun Huang
        </td>
        <td>
          Framework for Efficient SCA Resistance Verification of IoT
          Devices
        </td>
        <td>
          IEEE International Conference on Applied System Innovation
          2018
        </td>
      </tr>
      <tr>
        <td>
          2018-04-13~17
        </td>
        <td>
          Yao-Chung Fan, Huan Chen*
        </td>
        <td>
          The Design and Implementation of Low-Cost Power Monitoring
          System for Campus Power Monitoring
        </td>
        <td>
          IEEE International Conference on Applied System Innovation
          2018
        </td>
      </tr>
      <tr>
        <td>
          2018-01-23
        </td>
        <td>
          <strong>Chun-Wei Tsai *</strong> and Shi-Jui Liu
        </td>
        <td>
          An Effective IoT Service-to-Interface Assignment
          Algorithmvia
          Search Economics
        </td>
        <td>
          IEEE Internet of Things Journal(SCI)
        </td>
      </tr>
      <tr>
        <td>
          2018-02-12
        </td>
        <td>
          Po-Yen Lee, <strong>Chia-Mu Yu*</strong>, Tooska Dargahi,
          Mauro
          Conti, and Giuseppe Bianchi
        </td>
        <td>
          MDSClone: Multidimensional Scaling Aided Clone Detection in
          Internet of Things
        </td>
        <td>
          IEEE Transactions on Information Forensics and Security(SCI)
        </td>
      </tr>
      <tr>
        <td>
          2018-04-30~05-03
        </td>
        <td>
          Pei-Shuan Lu, Pin-Yu Chen, and <strong>Chia-Mu Yu</strong>
        </td>
        <td>
          On the Limitation of Local Intrinsic Dimensionality for
          Characterizing the Subspaces of Adversarial Examples
        </td>
        <td>
          International Conference on Learning Representations (ICLR)
        </td>
      </tr>
      <tr>
        <td>
          2018-08-17~19
        </td>
        <td>
          Ze-Hong Chen and <strong>Chun-Wei Tsai*</strong>
        </td>
        <td>
          An Effective Metaheuristic Algorithm for Intrusion Detection
          System
        </td>
        <td>
          IEEE International Conference on Smart Internet of Things
        </td>
      </tr>
      <tr>
        <td>
          2018-08-29
        </td>
        <td>
          <strong>Chun-Wei Tsai</strong>, Yong-Chun Ding, Shi-Jui Liu,
          Ming-Chao Chiang, Chu-SingYang
        </td>
        <td>
          A high-performance clustering algorithm based on searched
          experiences
        </td>
        <td>
          Computers in Human Behavior,vol. 100, pp. 231-241,2019(SCI)
        </td>
      </tr>
      <tr>
        <td>
          2018-10-07~10
        </td>
        <td>
          Yan-Rong Chen, <strong>Chun-Wei Tsai</strong>,&nbsp;
          Ming-Chao
          Chiang ,&nbsp; Chu-Sing Yang
        </td>
        <td>
          An Improved Quantum-Inspired Evolutionary Algorithm for Data
          Clustering
        </td>
        <td>
          IEEE International Conference on Systems, Man, and
          Cybernetics
        </td>
      </tr>
      <tr>
        <td>
          2018-10-07~10
        </td>
        <td>
          Yi-Chung Wang and<strong> Chun-Wei Tsai</strong>
        </td>
        <td>
          An Efficient Coral Reef Optimization with Substrate Layers
          for
          Clustering Problem on Spark
        </td>
        <td>
          IEEE International Conference on Systems, Man, and
          Cybernetics
        </td>
      </tr>
      <tr>
        <td>
          2018-11-26~29
        </td>
        <td>
          Chia-Yi Hsu, Pei-Shuan Lu, Pin-Yu Chen and <strong>Chia-Mu
            Yu</strong>
        </td>
        <td>
          On The Utility of Conditional Generation Based Mutual
          Information for Characterizing Adversarial Subspaces
        </td>
        <td>
          IEEE Global Conference on Signal and Information Processing
          (GlobalSIP)
        </td>
      </tr>
      <tr>
        <td>
          2018-11-27~30
        </td>
        <td>
          Tsung-Chiao Yu, Jyun-Yao Huang, <strong>I-En Liao*</strong>and
          Kuo-Fong Kao
        </td>
        <td>
          Mining Anomaly Communication Patterns for Industrial Control
          Systems
        </td>
        <td>
          28th Australasian Universities Power Engineering Conference
          (AUPEC 2018), Auckland, New Zealand, Nov.27-30, 2018
        </td>
      </tr>
      <tr>
        <td>
          2019-02
        </td>
        <td>
          Ze-Hong Chen, Yi-Lin Chen, Wei-Yan Chang, and<strong>
            Chun-Wei
            Tsai</strong>
        </td>
        <td>
          A hybrid classification algorithm for intrusion detection
          system
        </td>
        <td>
          Communications of the CCISA, vol. 25, no. 1 , pp. 14-27
        </td>
      </tr>
      <tr>
        <td>
          2019-04-03
        </td>
        <td>
          <strong>Chun-Wei Tsai</strong>, Wei-Yan Chang, Yi-Chung Wang
          and
          Huan Chen
        </td>
        <td>
          A high-performance parallel coral reef optimization for data
          clustering
        </td>
        <td>
          Soft Computing,vol. 23, no. 19, pp.9327-9340, 2019(SCI)
        </td>
      </tr>
      <tr>
        <td>
          2019-06-15
        </td>
        <td>
          Jia-You Hsieh, Chun-Hung Fan, Jian-Zhi Liao, Jyh-Yih Hsu and
          <strong>Huan Chen</strong>
        </td>
        <td>
          Study on the application of indoor positioning based on low
          power Bluetooth device combined with Kalman filter and
          machine
          learning
        </td>
        <td>
          International Conference on Innovative Computing and
          Management
          Science
        </td>
      </tr>
      <tr>
        <td>
          2019-06-15
        </td>
        <td>
          Jia-You Hsieh, Wei Huang, Hsin-Tieh Yang, Chia-Chieh Lin,
          Yo-Chung Fan and <strong>Huan Chen</strong>
        </td>
        <td>
          Building
          the Rice Blast Disease Prediction Model based on Machine
          Learning and Neural Networks
        </td>
        <td>
          International Conference on Innovative Computing and
          Management
          Science
        </td>
      </tr>
      <tr>
        <td>
          2019-06-21
        </td>
        <td>
          Xuebin Ren, Shuyang Wang, Xianhua Yao, <strong>Chia-Mu Yu</strong>,
          Wei Yu and Xinyu Yang
        </td>
        <td>
          Differentially Private Event Sequences over Infinite Streams
          with Relaxed Privacy Guarantee
        </td>
        <td>
          International Conference on Wireless Algorithms, Systems,
          and
          Applications
        </td>
      </tr>
      <tr>
        <td>
          2019-08-26~27
        </td>
        <td>
          Chia-Wei Wu, Shu-Fen Chiou, <strong>I-En Liao</strong>
        </td>
        <td>
          Cyber Security Vulnerabilities Alert System Based on
          Information
          from Twitter and CVE
        </td>
        <td>
          第24屆行動計算研討會，聯合大學，2019年8月26~27日。
        </td>
      </tr>
      <tr>
        <td>
          2019-08-26~27
        </td>
        <td>
          徐昀汝、許雯絞、<strong>廖宜恩</strong>
        </td>
        <td>
          基於序列樣式探勘之電力系統干擾與網絡攻擊分類
        </td>
        <td>
          第24屆行動計算研討會，聯合大學，2019年8月26~27日。
        </td>
      </tr>
      <tr>
        <td>
          2019-08-26~27
        </td>
        <td>
          李明翰、邱淑芬、<strong>廖宜恩</strong>
        </td>
        <td>
          基於DBSCAN之工業控制系統異常偵測
        </td>
        <td>
          第24屆行動計算研討會，聯合大學，2019年8月26~27日。
        </td>
      </tr>
      <tr>
        <td>
          2019-09-19~21
        </td>
        <td>
          Chun-Pi Chang, Wen-Chiao Hsu, <strong>I-En Liao</strong>
        </td>
        <td>
          Anomaly Detection for Industrial Control Systems Using
          K-Means
          and Convolutional Autoencoder
        </td>
        <td>
          27th International Conference on Software,
          Telecommunications
          and Computer Networks (SoftCOM 2019), Split, Croatia, Sep.
          19-21, 2019
        </td>
      </tr>
      <tr>
        <td>
          2019-07-09~12
        </td>
        <td>
          Chia-Yi Hsu, Pin-Yu Chen, and <strong>Chia-Mu Yu</strong>
        </td>
        <td>
          Characterizing Adversarial Subspaces by Mutual Information
        </td>
        <td>
          ACM Conference on Computer and Communications Security
        </td>
      </tr>
      <tr>
        <td>
          2019-06-26~28
        </td>
        <td>
          Yu-Chia Chang, <strong>Huan Chen</strong> and Chun-Wei Tsai
        </td>
        <td>
          An Effective Deep Learning Framework for Detecting
          Misconduct of
          the Trucker
        </td>
        <td>
          The 9th International Conference on Web Intelligence, Mining
          and
          Semantics
        </td>
      </tr>
      <tr>
        <td>
          2019-07-19~22
        </td>
        <td>
          Jia-Ying Chuang, Bing-Jie Ji, <strong>Wei-Chih Hong</strong>,
          Chu-Hsiang Lee, Jeng-Da Huang and Huang-Kai Huang
        </td>
        <td>
          Design and Implementation of Smart Contract Based IoT
          Service
        </td>
        <td>
          International Conference on Innovative Computing and
          Management
          Science
        </td>
      </tr>
      <tr>
        <td>
          2019-10-06~09
        </td>
        <td>
          Chun-Hung Fan, <strong>Huan Chen</strong>, Chun-Wei Tsai
        </td>
        <td>
          SHEAS:A Novel Metaheuristic Algorithm for Home Appliances
          Scheduling in Smart Grid
        </td>
        <td>
          IEEE International Conference on Systems, Man, and
          Cybernetics
        </td>
      </tr>
      <tr>
        <td>
          2020-05-21
        </td>
        <td>
          Yi-Lin Chen, <strong>Huan Chen</strong> and Chun-Wei Tsai
        </td>
        <td>
          An Effective Deep Learning Algorithm for Intrusion Detection
        </td>
        <td>
          International Conference on Innovative Computing and
          Management
          Science
        </td>
      </tr>
      <tr>
        <td>
          2020-07-07
        </td>
        <td>
          <strong>Wei-Chih Hong</strong>, Ding-Ray Huang, Chih-Lung
          Chen
          and Jung-Jyh-Yih HsuSan Lee
        </td>
        <td>
          Towards Accurate and Efficient Classification of Power
          System
          Contingencies and Cyber-Attacks Using Recurrent Neural
          Networks
        </td>
        <td>
          IEEE Access, vol. 8, pp. 123297-123309, 2020, doi:
          10.1109/ACCESS.2020.3007609
          (SCI)
        </td>
      </tr>
      <tr>
        <td>
          2020-07-10
        </td>
        <td>
          <strong>Huan Chen</strong>, Yue-Hsien Wang,Chun-Hung Fan
        </td>
        <td>
          A convolutional autoencoder‑based approach with batch
          normalization for energy disaggregation
        </td>
        <td>
          The Journal of Supercomputing volume 77,
          pages2961&ndash;2978(2021)
          (SCI)
        </td>
      </tr>
      <tr>
        <td>
          2020-09-01~04
        </td>
        <td>
          陳奕翔、許雯絞、<strong>廖宜恩</strong>
        </td>
        <td>
          使用隨機森林與卷積神經網路之工業控制系統網路攻擊分類方法
        </td>
        <td>
          第30屆全國資訊安全會議
        </td>
      </tr>
      <tr>
        <td>
          2020-09-01~04
        </td>
        <td>
          林侑儀、許雯絞、<strong>廖宜恩</strong>
        </td>
        <td>
          用於工業控制系統入侵偵測方法的堆疊集成模型
        </td>
        <td>
          第30屆全國資訊安全會議
        </td>
      </tr>
      <tr>
        <td>
          2020-09-21
        </td>
        <td>
          Wen-Chiao Hsu, <strong>I-En Liao</strong>
        </td>
        <td>
          UCIS-X: An Updatable Compact Indexing Scheme for Efficient
          Extensible Markup Language Document Updating and Query
          Evaluation
        </td>
        <td>
          IEEE Access, vol. 8, pp. 176375-176392, 2020, doi:
          10.1109/ACCESS.2020.3025566
          (SCI)
        </td>
      </tr>
      <tr>
        <td>
          2021-06
        </td>
        <td>
          <strong>Sying-Jyan Wang</strong>, Yu-Sheng Chen and <strong>Katherine Shu-Min Li</strong>
        </td>
        <td>
          Modeling Attack Resistant PUFs Based on Adversarial Attack Against Machine Learning
        </td>
        <td>
          IEEE Journal on Emerging and Selected Topics in Circuits and Systems, Vol. 11, Issue: 2, pp. 306 - 318
        </td>
      </tr>
      <tr>
        <td>
          2021-08-05~06
        </td>
        <td>
          <strong>Chien-Lung Wang</strong>, Yi-Chieh Liao and <strong>I-En Liao</strong>
        </td>
        <td>
          A Federated Learning Study of Privacy-Preserving Secret Sharing based on Deep Neural Network
        </td>
        <td>
          第31屆全國資訊安全會議Cryptology and Information Security Conference 2021 (CISC2021)
        </td>
      </tr>
      <tr>
        <td>
          2021-08-16
        </td>
        <td>
          Chia-Wei Tsai, <strong>Jason Lin</strong>, Lung Chiu and Chun-Wei Yang
        </td>
        <td>
          Cryptanalysis and Improvement in Multi-Party Quantum Key Distribution Protocol with New Bell States Encoding Mode
        </td>
        <td>
          International Journal of Theoretical Physics, 60(9), 3599-3608
        </td>
      </tr>
      <tr>
        <td>
          2022-01-08
        </td>
        <td>
          <strong>Iuon-Chang Lin</strong>, Ching-Chun Chang and Chih-Hsiang Peng
        </td>
        <td>
          An Anomaly-Based IDS Framework Using Centroid-Based Classification
        </td>
        <td>
          Symmetry, 14(1), 105; <a href="https://doi.org/10.3390/sym14010105">https://doi.org/10.3390/sym14010105</a>
        </td>
      </tr>
      <tr>
        <td>
          2022-01-20
        </td>
        <td>
          Chia-Wei Tsai, Chun-Wei Yang and <strong>Jason Lin</strong>
        </td>
        <td>
          Multiparty Mediated Quantum Secret Sharing Protocol
        </td>
        <td>
          Quantum Information Processing, 21(2), 1-17
        </td>
      </tr>
      <tr>
        <td>
          2022-01-26
        </td>
        <td>
          <strong>Iuon-Chang Lin</strong>, Chin-Chen Chang and Yu-Sung Chang
        </td>
        <td>
          Data Security and Preservation Mechanisms for Industrial Control Network Using IOTA
        </td>
        <td>
          Symmetry, 14(2), 237; <a href="https://doi.org/10.3390/sym14020237">https://doi.org/10.3390/sym14020237</a>.
        </td>
      </tr>
      <tr>
        <td>
          2022-04-18~21
        </td>
        <td>
          <strong>Sying-Jyan Wang</strong>, Y.-C. Shih and <strong>Katherine Shu-Min Li</strong>
        </td>
        <td>
          Improving IJTAG Test Efficiency and Securityning
        </td>
        <td>
          2022 International Symposium on VLSI Design, Automation and Test (2022 VLSI-DAT)
        </td>
      </tr>
    </tbody>
  </table>
</div>