{{if .IsEn}}
<h1>Research Findings</h1>
{{else}}
<h1>研究成果</h1>
{{end}}
<div class="scroll-table">
  <table>
    <thead>
      {{if .IsEn}}
      <tr>
        <th>Date</th>
        <th>Author/Presenter</th>
        <th>Article</th>
        <th>Journal</th>
      </tr>
      {{else}}
      <tr>
        <th>發表日期</th>
        <th>發表人</th>
        <th>名稱</th>
        <th>期刊名稱及期數/出版社</th>
      </tr>
      {{end}}
    </thead>
    <tbody>
      <tr>
        <td>
          2017-05-06
        </td>
        <td>
          Jyun-Yao Huang, <strong>Wei-Chih Hong</strong>, Po-Shin
          Tsai,
          I-En Liao
        </td>
        <td>
          A Model for Aggregation and Filtering on Encrypted XML
          Streams
          in Fog Computing
        </td>
        <td>
          International Journal of Distributed Sensor Networks, Vol.
          13,
          No. 5, pp. 1-14, May 2017
          (SCI)
        </td>
      </tr>
      <tr>
        <td>
          2017-10-03~05
        </td>
        <td>
          Jyun-Yao Huang, Po-Hsin Tsai, and<strong> I-En Liao*</strong>
        </td>
        <td>
          Implementing Publish/Subscribe Pattern for CoAP in Fog
          Computing
          Environment
        </td>
        <td>
          The 8th IEEE Annual Information Technology, Electronics and
          Mobile Communication Conference
        </td>
      </tr>
      <tr>
        <td>
          2018-04-13~17
        </td>
        <td>
          Pin-Han Wang, <strong>I-En Liao*</strong>, Kuo-Fong Kao,
          Jyun-Yao Huang
        </td>
        <td>
          An Intrusion Detection Method Based on Log Sequence
          Clustering
          of Honeypot for Modbus TCP Protocol
        </td>
        <td>
          IEEE International Conference on Applied System Innovation
          2018
        </td>
      </tr>
      <tr>
        <td>
          2018-04-13~17
        </td>
        <td>
          Shao-Yu Peng,<strong> Wei-Chih Hong*</strong>, Jun-Ting Li,
          Sheng-Jun Huang
        </td>
        <td>
          Framework for Efficient SCA Resistance Verification of IoT
          Devices
        </td>
        <td>
          IEEE International Conference on Applied System Innovation
          2018
        </td>
      </tr>
      <tr>
        <td>
          2018-04-13~17
        </td>
        <td>
          Yao-Chung Fan, Huan Chen*
        </td>
        <td>
          The Design and Implementation of Low-Cost Power Monitoring
          System for Campus Power Monitoring
        </td>
        <td>
          IEEE International Conference on Applied System Innovation
          2018
        </td>
      </tr>
      <tr>
        <td>
          2018-01-23
        </td>
        <td>
          <strong>Chun-Wei Tsai *</strong> and Shi-Jui Liu
        </td>
        <td>
          An Effective IoT Service-to-Interface Assignment
          Algorithmvia
          Search Economics
        </td>
        <td>
          IEEE Internet of Things Journal(SCI)
        </td>
      </tr>
      <tr>
        <td>
          2018-02-12
        </td>
        <td>
          Po-Yen Lee, <strong>Chia-Mu Yu*</strong>, Tooska Dargahi,
          Mauro
          Conti, and Giuseppe Bianchi
        </td>
        <td>
          MDSClone: Multidimensional Scaling Aided Clone Detection in
          Internet of Things
        </td>
        <td>
          IEEE Transactions on Information Forensics and Security(SCI)
        </td>
      </tr>
      <tr>
        <td>
          2018-04-30~05-03
        </td>
        <td>
          Pei-Shuan Lu, Pin-Yu Chen, and <strong>Chia-Mu Yu</strong>
        </td>
        <td>
          On the Limitation of Local Intrinsic Dimensionality for
          Characterizing the Subspaces of Adversarial Examples
        </td>
        <td>
          International Conference on Learning Representations (ICLR)
        </td>
      </tr>
      <tr>
        <td>
          2018-08-17~19
        </td>
        <td>
          Ze-Hong Chen and <strong>Chun-Wei Tsai*</strong>
        </td>
        <td>
          An Effective Metaheuristic Algorithm for Intrusion Detection
          System
        </td>
        <td>
          IEEE International Conference on Smart Internet of Things
        </td>
      </tr>
      <tr>
        <td>
          2018-08-29
        </td>
        <td>
          <strong>Chun-Wei Tsai</strong>, Yong-Chun Ding, Shi-Jui Liu,
          Ming-Chao Chiang, Chu-SingYang
        </td>
        <td>
          A high-performance clustering algorithm based on searched
          experiences
        </td>
        <td>
          Computers in Human Behavior,vol. 100, pp. 231-241,2019(SCI)
        </td>
      </tr>
      <tr>
        <td>
          2018-10-07~10
        </td>
        <td>
          Yan-Rong Chen, <strong>Chun-Wei Tsai</strong>,&nbsp;
          Ming-Chao
          Chiang ,&nbsp; Chu-Sing Yang
        </td>
        <td>
          An Improved Quantum-Inspired Evolutionary Algorithm for Data
          Clustering
        </td>
        <td>
          IEEE International Conference on Systems, Man, and
          Cybernetics
        </td>
      </tr>
      <tr>
        <td>
          2018-10-07~10
        </td>
        <td>
          Yi-Chung Wang and<strong> Chun-Wei Tsai</strong>
        </td>
        <td>
          An Efficient Coral Reef Optimization with Substrate Layers
          for
          Clustering Problem on Spark
        </td>
        <td>
          IEEE International Conference on Systems, Man, and
          Cybernetics
        </td>
      </tr>
      <tr>
        <td>
          2018-11-26~29
        </td>
        <td>
          Chia-Yi Hsu, Pei-Shuan Lu, Pin-Yu Chen and <strong>Chia-Mu
            Yu</strong>
        </td>
        <td>
          On The Utility of Conditional Generation Based Mutual
          Information for Characterizing Adversarial Subspaces
        </td>
        <td>
          IEEE Global Conference on Signal and Information Processing
          (GlobalSIP)
        </td>
      </tr>
      <tr>
        <td>
          2018-11-27~30
        </td>
        <td>
          Tsung-Chiao Yu, Jyun-Yao Huang, <strong>I-En Liao*</strong>and
          Kuo-Fong Kao
        </td>
        <td>
          Mining Anomaly Communication Patterns for Industrial Control
          Systems
        </td>
        <td>
          28th Australasian Universities Power Engineering Conference
          (AUPEC 2018), Auckland, New Zealand, Nov.27-30, 2018
        </td>
      </tr>
      <tr>
        <td>
          2019-02
        </td>
        <td>
          Ze-Hong Chen, Yi-Lin Chen, Wei-Yan Chang, and<strong>
            Chun-Wei
            Tsai</strong>
        </td>
        <td>
          A hybrid classification algorithm for intrusion detection
          system
        </td>
        <td>
          Communications of the CCISA, vol. 25, no. 1 , pp. 14-27
        </td>
      </tr>
      <tr>
        <td>
          2019-04-03
        </td>
        <td>
          <strong>Chun-Wei Tsai</strong>, Wei-Yan Chang, Yi-Chung Wang
          and
          Huan Chen
        </td>
        <td>
          A high-performance parallel coral reef optimization for data
          clustering
        </td>
        <td>
          Soft Computing,vol. 23, no. 19, pp.9327-9340, 2019(SCI)
        </td>
      </tr>
      <tr>
        <td>
          2019-06-15
        </td>
        <td>
          Jia-You Hsieh, Chun-Hung Fan, Jian-Zhi Liao, Jyh-Yih Hsu and
          <strong>Huan Chen</strong>
        </td>
        <td>
          Study on the application of indoor positioning based on low
          power Bluetooth device combined with Kalman filter and
          machine
          learning
        </td>
        <td>
          International Conference on Innovative Computing and
          Management
          Science
        </td>
      </tr>
      <tr>
        <td>
          2019-06-15
        </td>
        <td>
          Jia-You Hsieh, Wei Huang, Hsin-Tieh Yang, Chia-Chieh Lin,
          Yo-Chung Fan and <strong>Huan Chen</strong>
        </td>
        <td>
          Building
          the Rice Blast Disease Prediction Model based on Machine
          Learning and Neural Networks
        </td>
        <td>
          International Conference on Innovative Computing and
          Management
          Science
        </td>
      </tr>
      <tr>
        <td>
          2019-06-21
        </td>
        <td>
          Xuebin Ren, Shuyang Wang, Xianhua Yao, <strong>Chia-Mu Yu</strong>,
          Wei Yu and Xinyu Yang
        </td>
        <td>
          Differentially Private Event Sequences over Infinite Streams
          with Relaxed Privacy Guarantee
        </td>
        <td>
          International Conference on Wireless Algorithms, Systems,
          and
          Applications
        </td>
      </tr>
      <tr>
        <td>
          2019-08-26~27
        </td>
        <td>
          Chia-Wei Wu, Shu-Fen Chiou, <strong>I-En Liao</strong>
        </td>
        <td>
          Cyber Security Vulnerabilities Alert System Based on
          Information
          from Twitter and CVE
        </td>
        <td>
          第24屆行動計算研討會，聯合大學，2019年8月26~27日。
        </td>
      </tr>
      <tr>
        <td>
          2019-08-26~27
        </td>
        <td>
          徐昀汝、許雯絞、<strong>廖宜恩</strong>
        </td>
        <td>
          基於序列樣式探勘之電力系統干擾與網絡攻擊分類
        </td>
        <td>
          第24屆行動計算研討會，聯合大學，2019年8月26~27日。
        </td>
      </tr>
      <tr>
        <td>
          2019-08-26~27
        </td>
        <td>
          李明翰、邱淑芬、<strong>廖宜恩</strong>
        </td>
        <td>
          基於DBSCAN之工業控制系統異常偵測
        </td>
        <td>
          第24屆行動計算研討會，聯合大學，2019年8月26~27日。
        </td>
      </tr>
      <tr>
        <td>
          2019-09-19~21
        </td>
        <td>
          Chun-Pi Chang, Wen-Chiao Hsu, <strong>I-En Liao</strong>
        </td>
        <td>
          Anomaly Detection for Industrial Control Systems Using
          K-Means
          and Convolutional Autoencoder
        </td>
        <td>
          27th International Conference on Software,
          Telecommunications
          and Computer Networks (SoftCOM 2019), Split, Croatia, Sep.
          19-21, 2019
        </td>
      </tr>
      <tr>
        <td>
          2019-07-09~12
        </td>
        <td>
          Chia-Yi Hsu, Pin-Yu Chen, and <strong>Chia-Mu Yu</strong>
        </td>
        <td>
          Characterizing Adversarial Subspaces by Mutual Information
        </td>
        <td>
          ACM Conference on Computer and Communications Security
        </td>
      </tr>
      <tr>
        <td>
          2019-06-26~28
        </td>
        <td>
          Yu-Chia Chang, <strong>Huan Chen</strong> and Chun-Wei Tsai
        </td>
        <td>
          An Effective Deep Learning Framework for Detecting
          Misconduct of
          the Trucker
        </td>
        <td>
          The 9th International Conference on Web Intelligence, Mining
          and
          Semantics
        </td>
      </tr>
      <tr>
        <td>
          2019-07-19~22
        </td>
        <td>
          Jia-Ying Chuang, Bing-Jie Ji, <strong>Wei-Chih Hong</strong>,
          Chu-Hsiang Lee, Jeng-Da Huang and Huang-Kai Huang
        </td>
        <td>
          Design and Implementation of Smart Contract Based IoT
          Service
        </td>
        <td>
          International Conference on Innovative Computing and
          Management
          Science
        </td>
      </tr>
      <tr>
        <td>
          2019-10-06~09
        </td>
        <td>
          Chun-Hung Fan, <strong>Huan Chen</strong>, Chun-Wei Tsai
        </td>
        <td>
          SHEAS:A Novel Metaheuristic Algorithm for Home Appliances
          Scheduling in Smart Grid
        </td>
        <td>
          IEEE International Conference on Systems, Man, and
          Cybernetics
        </td>
      </tr>
      <tr>
        <td>
          2020-05-21
        </td>
        <td>
          Yi-Lin Chen, <strong>Huan Chen</strong> and Chun-Wei Tsai
        </td>
        <td>
          An Effective Deep Learning Algorithm for Intrusion Detection
        </td>
        <td>
          International Conference on Innovative Computing and
          Management
          Science
        </td>
      </tr>
      <tr>
        <td>
          2020-07-07
        </td>
        <td>
          <strong>Wei-Chih Hong</strong>, Ding-Ray Huang, Chih-Lung
          Chen
          and Jung-Jyh-Yih HsuSan Lee
        </td>
        <td>
          Towards Accurate and Efficient Classification of Power
          System
          Contingencies and Cyber-Attacks Using Recurrent Neural
          Networks
        </td>
        <td>
          IEEE Access, vol. 8, pp. 123297-123309, 2020, doi:
          10.1109/ACCESS.2020.3007609
          (SCI)
        </td>
      </tr>
      <tr>
        <td>
          2020-07-10
        </td>
        <td>
          <strong>Huan Chen</strong>, Yue-Hsien Wang,Chun-Hung Fan
        </td>
        <td>
          A convolutional autoencoder‑based approach with batch
          normalization for energy disaggregation
        </td>
        <td>
          The Journal of Supercomputing volume 77,
          pages2961&ndash;2978(2021)
          (SCI)
        </td>
      </tr>
      <tr>
        <td>
          2020-09-01~04
        </td>
        <td>
          陳奕翔、許雯絞、<strong>廖宜恩</strong>
        </td>
        <td>
          使用隨機森林與卷積神經網路之工業控制系統網路攻擊分類方法
        </td>
        <td>
          第30屆全國資訊安全會議
        </td>
      </tr>
      <tr>
        <td>
          2020-09-01~04
        </td>
        <td>
          林侑儀、許雯絞、<strong>廖宜恩</strong>
        </td>
        <td>
          用於工業控制系統入侵偵測方法的堆疊集成模型
        </td>
        <td>
          第30屆全國資訊安全會議
        </td>
      </tr>
      <tr>
        <td>
          2020-09-21
        </td>
        <td>
          Wen-Chiao Hsu, <strong>I-En Liao</strong>
        </td>
        <td>
          UCIS-X: An Updatable Compact Indexing Scheme for Efficient
          Extensible Markup Language Document Updating and Query
          Evaluation
        </td>
        <td>
          IEEE Access, vol. 8, pp. 176375-176392, 2020, doi:
          10.1109/ACCESS.2020.3025566
          (SCI)
        </td>
      </tr>
      <tr>
        <td>
          2020-12-17~18
        </td>
        <td>
          <strong>Sying-Jyan Wang</strong>, Cheng Xuan Cai, Yen-Wen Tseng and <strong>Katherine Shu-Min Li</strong>
        </td>
        <td>
          Feature Selection for Malicious Traffic Detection with Machine Learning
        </td>
        <td>
          International Computer Symposium 2020
        </td>
      </tr>
      <tr>
        <td>
          2021-2-26
        </td>
        <td>
          <strong>Sying-Jyan Wang</strong>, Yu-Sheng Chen, and <strong>Katherine Shu-Min Li</strong>
        </td>
        <td>
          Modeling Attack Resistant PUFs Based on Adversarial Attack against Machine Learning
        </td>
        <td>
          IEEE Journal on Emerging and Selected Topics in Circuits and Systems, vol 11, pp. 306-318, 2021, doi:10.1109/JETCAS.2021.3062413
        </td>
      </tr>
      <tr>
        <td>
          2021-04-19~22
        </td>
        <td>
          <strong>Sying-Jyan Wang</strong>, Tzu-Heng Chang, <strong>Katherine Shu-Min Li</strong>
        </td>
        <td>
          Machine Learning Assisted Challenge Selection for Modeling Attack Resistance in Strong PUFs
        </td>
        <td>
          2021 International Symposium on VLSI Design, Automation and Test (VLSI-DAT)
        </td>
      </tr>
      <tr>
        <td>
          2021-06
        </td>
        <td>
          <strong>Sying-Jyan Wang</strong>, Yu-Sheng Chen and <strong>Katherine Shu-Min Li</strong>
        </td>
        <td>
          Modeling Attack Resistant PUFs Based on Adversarial Attack Against Machine Learning
        </td>
        <td>
          IEEE Journal on Emerging and Selected Topics in Circuits and Systems, Vol. 11, Issue: 2, pp. 306 - 318
        </td>
      </tr>
      <tr>
        <td>
          2021-08-05~06
        </td>
        <td>
          <strong>Chien-Lung Wang</strong>, Yi-Chieh Liao and <strong>I-En Liao</strong>
        </td>
        <td>
          A Federated Learning Study of Privacy-Preserving Secret Sharing based on Deep Neural Network
        </td>
        <td>
          第31屆全國資訊安全會議Cryptology and Information Security Conference 2021 (CISC2021)
        </td>
      </tr>
      <tr>
        <td>
          2021-08-16
        </td>
        <td>
          Chia-Wei Tsai, <strong>Jason Lin</strong>, Lung Chiu and Chun-Wei Yang
        </td>
        <td>
          Cryptanalysis and Improvement in Multi-Party Quantum Key Distribution Protocol with New Bell States Encoding Mode
        </td>
        <td>
          International Journal of Theoretical Physics, 60(9), 3599-3608
        </td>
      </tr>
      <tr>
        <td>
          2022-01-08
        </td>
        <td>
          <strong>Iuon-Chang Lin</strong>, Ching-Chun Chang and Chih-Hsiang Peng
        </td>
        <td>
          An Anomaly-Based IDS Framework Using Centroid-Based Classification
        </td>
        <td>
          Symmetry, 14(1), 105; <a href="https://doi.org/10.3390/sym14010105">https://doi.org/10.3390/sym14010105</a>
        </td>
      </tr>
      <tr>
        <td>
          2022-01-20
        </td>
        <td>
          Chia-Wei Tsai, Chun-Wei Yang and <strong>Jason Lin</strong>
        </td>
        <td>
          Multiparty Mediated Quantum Secret Sharing Protocol
        </td>
        <td>
          Quantum Information Processing, 21(2), 1-17
        </td>
      </tr>
      <tr>
        <td>
          2022-01-26
        </td>
        <td>
          <strong>Iuon-Chang Lin</strong>, Chin-Chen Chang and Yu-Sung Chang
        </td>
        <td>
          Data Security and Preservation Mechanisms for Industrial Control Network Using IOTA
        </td>
        <td>
          Symmetry, 14(2), 237; <a href="https://doi.org/10.3390/sym14020237">https://doi.org/10.3390/sym14020237</a>.
        </td>
      </tr>
      <tr>
        <td>
          2022-3-8
        </td>
        <td>
          Yun-Chien Tseng, Mu-Hua Yang, <strong>Yao-Chung Fan</strong> , Wen-Chih Peng, Chih-Chieh Hung
        </td>
        <td>
          Template-Based Headline Generator for Multiple Documents
        </td>
        <td>
          IEEE Access(10)
        </td>
      </tr>
      <tr>
        <td>
          2022-04-15
        </td>
        <td>
          <strong>Jason Lin,Chia-Wei Tsai</strong>, Chun-Wei Yang, Kuan-Hung Liu
        </td>
        <td>
          A Large Payload Data Hiding Scheme Using Scalable Secret Reference Matrix
        </td>
        <td>
          Symmetry 2022, 14(2), 828 <a href="https://www.mdpi.com/2073-8994/14/4/828">https://www.mdpi.com/2073-8994/14/4/828</a>.
        </td>
      </tr>
      <tr>
        <td>
          2022-04-10
        </td>
        <td>
          Hung-Wen Wang, <strong>Chia-Wei Tsai, Jason Lin</strong>, Yu-Yun Huang, Chun-Wei Yang
        </td>
        <td>
          Efficient and secure measure-resend authenticated semi-quantum key distribution protocol against reflecting attack
        </td>
        <td>
          Mathematics 2022, 10(8), 1241 <a href="https://www.mdpi.com/2227-7390/10/8/1241">https://www.mdpi.com/2227-7390/10/8/1241</a>.
        </td>
      </tr>
      <tr>
        <td>
          2022-04-18~21
        </td>
        <td>
          <strong>Sying-Jyan Wang</strong>, Y.-C. Shih and <strong>Katherine Shu-Min Li</strong>
        </td>
        <td>
          Improving IJTAG Test Efficiency and Securityning
        </td>
        <td>
          2022 International Symposium on VLSI Design, Automation and Test (2022 VLSI-DAT)
        </td>
      </tr>
      <tr>
        <td>
          2022-04-30
        </td>
        <td>
          <strong>Chia-Wei Tsai</strong>, Kuei-Chun Chiang, Hsin-Yuan Hsieh, Chun-Wei Yang, <strong>Jason Lin</strong>, Yao-Chung Chang
        </td>
        <td>
          Feature Extraction of Anomaly Electricity Usage Behavior in Residence Using Autoencoder
        </td>
        <td>
          Electronics 2022, 11(9), 1450 <a href="https://www.mdpi.com/2079-9292/11/9/1450">https://www.mdpi.com/2079-9292/11/9/1450</a>.
        </td>
      </tr>
      <tr>
        <td>
          2022-5-12
        </td>
        <td>
          Ting-Wei Chang; <strong>Yao-Chung Fan</strong>; Arbee L. P. Chen
        </td>
        <td>
          Emotion-cause pair extraction based on machine reading comprehension model
        </td>
        <td>
          Multimedia Tools and Applications volume 81, 40653–40673
        </td>
      </tr>
      <tr>
        <td>
          2022-06-16~17
        </td>
        <td>
          應瑞傑；<strong>蔡國裕</strong>；李榮三；周澤捷
        </td>
        <td>
          基於聲譽清單之可移動式路側單元集群協定
        </td>
        <td>
          第三十二屆全國資訊安全會議(CISC 2022) Cryptology and Information Security Conference 2022
        </td>
      </tr>
      <tr>
        <td>
          2022-06-16~17
        </td>
        <td>
          籃若瑜；<strong>蔡國裕</strong>；賴俊鳴；王銘宏
        </td>
        <td>
          短文本論述萃取演算法
        </td>
        <td>
          第三十二屆全國資訊安全會議(CISC 2022) Cryptology and Information Security Conference 2022
        </td>
      </tr>
      <tr>
        <td>
          2022-07-18~23
        </td>
        <td>
          Chih-Shuo Tsai, Ying-Hong Chan, <strong>Yao-Chung Fan</strong>
        </td>
        <td>
          Hierarchical Cache Transformer: Dynamic Early Exit for Language Translation
        </td>
        <td>
          2022 International Joint Conference on Neural Networks (IJCNN)
        </td>
      </tr>
      <tr>
        <td>
          2022-7-23~29
        </td>
        <td>
          Lei Hsiung, Yun-Yun Tsai, Pin-Yu Chen, <strong>Tsung-Yi Ho</strong>
        </td>
        <td>
          CARBEN: Composite Adversarial Robustness Benchmark
        </td>
        <td>
          The 31st International Joint Conference on Artificial Intelligence (IJCAI 2022) Demo Track
        </td>
      </tr>
      <tr>
        <td>
          2022-09-22
        </td>
        <td>
          <strong>Shu-Yu Kuo</strong>, Kuo-Chun Tseng, Yao-Hsin Chou, Fan-Hsun Tseng, 
        </td>
        <td>
          Quantum Oblivious Transfer with Reusable Bell State
        </td>
        <td>
          Computers, Materials & Continua 2023, 74(1), 915-932
        </td>
      </tr>
      <tr>
        <td>
          2022-10-10
        </td>
        <td>
          <strong>Jason Lin; Chia-Wei Tsai</strong>; Chun-Wei Yang
        </td>
        <td>
          Cryptanalysis and Improvement of the Measurement-Device-Independent Quantum Key Distribution with Hyper-Encoding
        </td>
        <td>
          Modern Physics Letters A , Vol. 37, No. 31, 2250212 (2022)
        </td>
      </tr>
      <tr>
        <td>
          2022-10-14~16
        </td>
        <td>
          <strong>Sying-Jyan Wang,</strong> Yi-Chi Lin, Chen-Yeh Lin, Song-Kong Chong, <strong>Katherine Shu-Min Li</strong>
        </td>
        <td>
          Automatic Alignment for Side-Channel Attack Against Cryptographic Modules
        </td>
        <td>
          2022 IET International Conference on Engineering Technologies and Applications
        </td>
      </tr>
      <tr>
        <td>
          2022-10-14~16
        </td>
        <td>
          <strong>Chun-Tsai Chien, Chien Lung Wang</strong> and <strong>Sying-Jyan Wang</strong>
        </td>
        <td>
          Zero Payload Enhanced AES Cryptography Against Side-Channel Attacks
        </td>
        <td>
          2022 IET International Conference on Engineering Technologies and Applications
        </td>
      </tr>
      <tr>
        <td>
          2022-10-14~16
        </td>
        <td>
          <strong>Chien-Lung Wang; Iuon-Chang Lin; Chun-Tsai Chien; Sying-Jyan Wang</strong> ;Jou-An Shih; I-En Liao
        <td>
          An Evaluation of Cybersecurity Risks of DLMS/COSEM Smart Meter Using Fuzzing Testing
        </td>
        <td>
          2022 IET International Conference on Engineering Technologies and Applications
        </td>
      </tr>
      <tr>
        <td>
          2022-10-27~29
        </td>
        <td>
          Shih-Wei Guo, Tzu-Chi Chen, Hui-Juan Wang, Fang-Yie Leu, <strong>Yao-Chung Fan</strong>
        <td>
          Generating Personalized Phishing Emails for Social Engineering Training Based on Neural Language Models.
        </td>
        <td>
          BWCCA 2022: Advances on Broad-Band Wireless Computing, Communication and Applications 
        </td>
      </tr>
      <tr>
        <td>
          2022-11-21~23
        </td>
        <td>
          <strong>S. -J. Wang, K. S. -M.Li,</strong>C. -Y. Lin and S. -K.Chong
        <td>
          Intrusion Detection and Obfuscation Mechanism for PUF-Based Authentication
        </td>
        <td>
          31st Asian Test Symposium (ATS)
        </td>
      </tr>
      <tr>
        <td>
          2022-12-15~17
        </td>
        <td>
          施語涵；黃詩軒；<strong>蔡家緯</strong>；張耀中；盧韻文；王李品檠
        <td>
          基於用電負載情境預測冰水主機負載及電力能耗預測
        </td>
        <td>
          2022 臺灣網際網路研討會TANET
        </td>
      </tr>
      <tr>
        <td>
          2022-12-15~17
        </td>
        <td>
          謝欣原；蔣貴君；<strong>蔡家緯</strong>
        <td>
          使用集成學習策略於住宅用戶異常用電行為辨識之研究
        </td>
        <td>
          2022 臺灣網際網路研討會TANET
        </td>
      </tr>
      <tr>
        <td>
          2023-01-14
        </td>
        <td>
          Chun-Wei Yang; Hung-Wen Wang; <strong>Jason Lin; Chia-Wei Tsai </strong>
        <td>
          Semi-quantum Identification without Information Leakage
        </td>
        <td>
          Mathematics 2023, 11(2), 452
        </td>
      </tr>
      <tr>
        <td>
          2023-4-21~23
        </td>
        <td>
          Tzu-Hsuan Huang, <strong>Chun-Tsai Chien, Chien-Lung Wang </strong> and I-En Liao
        <td>
          The Implementation of an HSM-Based Smart Meter for Supporting DLMS/COSEM Security Suite 1
        </td>
        <td>
          IoTBDS 2023
        </td>
      </tr>
      <tr>
        <td>
          2023-4-21~25
        </td>
        <td>
          <strong>Chia-Wei Tsai,</strong> Jyun-Jie Hong, Yun-Hao Lee, <strong>Jason Lin,</strong> Chun-Wei Yang
        <td>
          Semi-quantum Private Comparison Protocol with Graph state
        </td>
        <td>
          9th IEEE International Conference on Applied System Innovation 2023
        </td>
      </tr>
      <tr>
        <td>
          2023-4-21~25
        </td>
        <td>
          Yu-Xiang Zou; <strong>Jason Lin; Chia-Wei Tsai;</strong> Chun-Wei Yang
        <td>
          Alpha-Boost: A Fast Algorithm for Mining Workflow Nets
        </td>
        <td>
          9th IEEE International Conference on Applied System Innovation 2023
        </td>
      </tr>
      <tr>
        <td>
          2023-5-4
        </td>
        <td>
          Chun-Wei Yang ; <strong>Jason Lin; Chia-Wei Tsai;</strong> Kai-Lin Wang; <strong>Chia-Wei Tsai</strong>
        <td>
          Cryptanalysis and improvement of a controlled quantum secure direct communication with authentication protocol based on five-particle cluster state
        </td>
        <td>
          Quantum Information Processing volume 22, Article number: 196 (2023)
        </td>
      </tr>
      <tr>
        <td>
          2023-6-1~2
        </td>
        <td>
          翁偉銘；<strong>蔡國裕</strong>；郭崇韋
        <td>
          基於DAE之旁通道攻擊實作與分析
        </td>
        <td>
          第三十三屆全國資訊安全會議(CISC 2023) Cryptology and Information Security Conference 2023
        </td>
      </tr>
    </tbody>
  </table>
</div>